@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron ss-jumbotron">
            <div class="row">
                <div class="col-xs-1 text-center"></div>
                <div class="col-xs-10 text-center">
                    <h1>Simple Support</h1>
                    <p class="lead" style="color: white;">The easiest to use, most convenient, comprehensive and accurate solution to Michigan child support and parenting time estimation. And it's FREE!</p>
                </div>
                <div class="col-xs-1 text-center"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <div class="text-center">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <h3 class="text-primary coolfactor">Sign Up</h3>
                <p> Multipler for 2: @ViewBag.Multiplier</p>
                <p class="featurefont">
                    @Html.ActionLink("Really, Sign Up", "Register", "Account", new { Controller = "Account" }, htmlAttributes: new { @class = "btn btn-primary coolfactor" })
                </p>
            </div>
        </div>
    </div>
</div>

@* Cases Section *@
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="~/Images/Cases_Square_466.png" width="466" />
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-primary coolfactor">Multiple Cases</h3>
                <p class="featurefont">You will be able to see multiple cases on one screen or have multiple versions of the same case to compare results. Quickly select, edit, and reprint cases anytime. There is a 10 case limit to keep the application small (because it's free!).</p>
            </div>
        </div>
    </div>
</div>
@* Analysis Section *@
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="~/Images/Analysis.png" />
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-primary coolfactor">Child Support Analysis</h3>
                <p class="featurefont">The Child Support Analysis shows what child support would be in 15 day increments.</p>
                <p class="featurefont">Does it really make sense to sit down at the negotiating table, come up with a tentative agreement, and go back to the office only to have the opposing side back out after realizing what child support will be? Let's help get the negotiating done in one sitting.</p>
            </div>
        </div>
    </div>
</div>
@* Court Documents Section *@
@*<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="~/Images/PDF_Square_466.png" />
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-primary coolfactor">Print Court Documents</h3>
                <p class="featurefont">Print court approved (SCAO) forms populated with your information.</p>
                <p class="featurefont">These include the Order Regarding Custody and Parenting Time (FOC 89), Uniform Child Support Order (FOC 10/52), and Uniform Child Support Order, No Friend of the Court Services (FOC 10a/52a).</p>
            </div>
        </div>
    </div>
</div>*@
@* Detail Report Section *@
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="~/Images/DetailReport_Square_466.png" width="466" />
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-primary coolfactor">Complete Summary</h3>
                <p class="featurefont">The Child Support summary provides all the numbers and calculations used to calculate child support. Each field is explained in our explanation guide.</p>
            </div>
        </div>
    </div>
</div>
@* Schedule Section *@
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="~/Images/Schedule_Square_466.png" width="466" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-primary coolfactor">Quick and Accurate Parenting Time Schedule</h3>
                    <p class="featurefont">Our Parenting Time schedule is detailed yet easy to understand and quick to use.</p>
                    <p class="featurefont">
                        Choose from a handful of common Parenting Time Schedules in the dropdown or choose individual days for more complicated schedules.
                    </p>
                    <p class="featurefont">
                        The Parenting Time Schedule includes schedules for school, summer, and holidays.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@* Schedule Section *@
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="~/Images/Brain_Square_466.png" width="466" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-primary coolfactor">No Confusion</h3>
                    <p class="featurefont">
                        Never feel in the dark about how or where the numbers came from. Every screen in ZapLeaf has an explanation <button class="btn btn-link coolfactor" data-toggle="modal" data-target="#helpModal"><i class="fa fa-question-circle fa-lg"></i></button> button for help and a reference that relates back to the Michigan Child Support Formula. You will always know the how and why for each number.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="helpModalLabel">Sample Help</h4>
            </div>
            <div class="modal-body">
                <p><strong>2013 MCSF-S 2.08(B)</strong>: Calculate the premium deduction by dividing the premium by the number of individuals covered (including the parent) and multiply by the number of qualifying additional children covered.</p>
                <p><strong>2013 MCSF-S 3.05(A)(1)</strong>: Determine each parent’s monthly health care premium attributable to the children by dividing the premium by the number of individuals covered (including the parent) and multiply by the number of children covered in this case.</p>
            </div>
        </div>
    </div>
</div>