
.nowidth
{
    width: auto !important;
}

.headline {
    text-align: center;
    margin-bottom: 30px;
}

    .headline h1 {
        color: #464646;
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -1px;
    }

    .headline h2 {
        font-size: 14px;
        color: #333333 !important;
    }

.icheckbox_square-blue, .iradio_square-blue {
    margin: auto !important;
    width: 23px !important;
}

.label {
    padding-bottom: 2px !important;
}

.glyphicon {
    top: 0px !important;
}

td {
    vertical-align: middle !important;
}

    td .center {
        margin: auto !important;
    }

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
    padding: 3px 8px 3px 8px !important;
}

.table-condensed-thin thead > tr > th,
.table-condensed-thin tbody > tr > th,
.table-condensed-thin tfoot > tr > th,
.table-condensed-thin thead > tr > td,
.table-condensed-thin tbody > tr > td,
.table-condensed-thin tfoot > tr > td {
    padding: 2px 8px 2px 8px !important;
}


/*******************************************************************/
/*********************** Mostly For Top Banner **************************/
/*******************************************************************/

.container .jumbotron {
    margin-top: 20px;
	width: 100% !important;
    background-color: #428bca !important;
    /*background: url("/Images/lawyer baby.png") right no-repeat;*/
}

.left-icon {
    vertical-align: middle;
}

/*******************************************************************/
/*********************** Accordion Styles **************************/
/*******************************************************************/
.panel-heading .panel-toggle {
    font-size: 12px;
    color: #333333;
    font-weight: 600;
}

.panel-heading.coolfactor {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
}

.panel-heading {
    background: #f5f5f5;
    background-size: 100%;
    text-shadow: 0 1px white;
    border-bottom: 1px solid #CDCDCD;
    color: #636363;
    font-weight: 600;
    /*border-top: 1px solid #cdcdcd;*/
    /*padding: 0px;*/
}


.table.no-border > tbody > tr > td {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    border-top: 0px solid #333333 !important;
    border-bottom: 0px solid #333333 !important;
    vertical-align: text-top !important; /* This keeps evrything aligned to the top when error messages appear */
}

.no-border-bottom {
    border-bottom: 0px solid #333333 !important;
}
/* Created for print friendly reports */
.no-border-top td {
    border-top: 0px solid #ffffff !important;
}

.panel-heading.coolfactor a:hover {
    text-decoration: none;
}

.panel-heading .panel-toggle.coolfactor {
    padding: 10px;
    color: #636363;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
}

/*******************************************************************/
/********************** Price Table ********************************/
/*******************************************************************/

.price-table .title {
    display: block !important;
    padding: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
	color: #000000 !important;
}

.price-table tr {
    font-size: 12px;
    font-weight: 600;
}

/*******************************************************************/
/****************************** Box ********************************/
/*******************************************************************/
.box {
	-webkit-box-shadow: 0 2px 2px -2px #cccccc;
	-moz-box-shadow: 0 2px 2px -2px #cccccc;
	box-shadow: 0 2px 2px -2px #cccccc;
	background: #fbfbfb;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}

.box-content{
	background: #fdfdfd;
	padding: 15px;
}

.box-content:before,
.box-content:after {
  display: table;
  content: " ";
}

.box-content:after {
  clear: both;
}

.box .box-header, .box .box-footer {
        *zoom: 1;
        background: #eaeaea;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
        background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
        background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
        background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
        background-image: linear-gradient(top, #fdfdfd, #eaeaea);
        text-shadow: 0 1px white;
        border-bottom: 1px solid #CDCDCD;
        color: #636363;
        font-weight: 600;
    }

        /* line 24, /home/andrei/core-admin-release/core-admin/source/stylesheets/mixin_helpers.scss */
        .box .box-header:before, .box .box-header:after, .box .box-footer:before, .box .box-footer:after {
            display: table;
            content: "";
            line-height: 0;
        }
        /* line 30, /home/andrei/core-admin-release/core-admin/source/stylesheets/mixin_helpers.scss */
        .box .box-header:after, .box .box-footer:after {
            clear: both;
        }
        /* line 17, /home/andrei/core-admin-release/core-admin/source/stylesheets/box.scss */
        .box .box-header .title, .box .box-footer .title {
            float: left;
            display: block;
            padding: 10px;
            font-size: 13px;
            font-weight: 600;
        }

    .box table > tbody > tr:first-child td {
        border-top: none !important;
    }

    /* Added to center the help icon */
    .box .box-header .btn {
        margin-top: 6px !important;
    }

    /* Added to center the "quick, Standard,..." button group on ParentingTime page */
    .box .box-header .btn-group {
        margin-top: 4px !important;
    }

    .box .table {
        margin-top: 5px;
        margin-bottom: 5px;
    }

/*******************************************************************/
/****************************** Body *******************************/
/*******************************************************************/
body {
    font: normal 12px HelveticaNeue, Helvetica, Arial;
    background: url("/Images/bg-gray-random.jpg");
    min-height: 100%;
    /*color: #707070;*/
    overflow-x: hidden;
}

/* Created for print friendly reports */
body.print {
    font-size: 10px !important;
}

body.nobackground {
    background: none !important;
}

/*******************************************************************/
/**************************** Buttons ******************************/
/*******************************************************************/
.btn-primary.coolfactor {
    border: 1px solid #337ca1;
    -webkit-box-shadow: inset 0 1px 2px #428bca; /*eb0d1*/
    -moz-box-shadow: inset 0 1px 2px #428bca; /*eb0d1*/
    box-shadow: inset 0 1px 2px #428bca; /*eb0d1*/
    background: #3d94c0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ba5cb), color-stop(100%, #3276b1));
    background-image: -webkit-linear-gradient(top, #428bca, #3276b1);
    background-image: -moz-linear-gradient(top, #428bca, #3276b1);
    background-image: -o-linear-gradient(top, #428bca, #3276b1);
    background-image: linear-gradient(top, #428bca, #3276b1);
}

    .btn-primary.coolfactor:hover {
        border: 1px solid #337ca1;
        -webkit-box-shadow: inset 0 1px 2px #3276b1; /*eb0d1*/
        -moz-box-shadow: inset 0 1px 2px #3276b1; /*eb0d1*/
        box-shadow: inset 0 1px 2px #3276b1; /*eb0d1*/
        background: #3d94c0;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(100%, #3d94c0), color-stop(0%, #428bca));
        background-image: -webkit-linear-gradient(top, #3276b1, #428bca);
        background-image: -moz-linear-gradient(top, #3276b1, #428bca);
        background-image: -o-linear-gradient(top, #3276b1, #428bca);
        background-image: linear-gradient(top, #3276b1, #428bca);
    }

.btn {
    padding-bottom: 2px;
    padding-top: 2px;
}

/* Used to push the "Quick, Standard,..." button group from the right border on ParentingTime page */
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    margin-right: 8px !important;
}

/* Gives the currently selected button a green background */
.btn-primary.active, .btn-danger.active, .open .dropdown-toggle.btn-primary {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.disabled.nodim, .btn[disabled].nodim {
    opacity: 1 !important;
}

.table-condensed .btn {
    padding: 0px;
}

.box-heading .btn {
}

/*.short-buttons .btn {
    padding-bottom: 0px;
    padding-top: 0px;
}*/

.panel .table {
    margin-bottom: 0px;
}

/*******************************************************************/
/************************* Menu Left-Side **************************/
/*******************************************************************/
.menu .label {
    display: block;
    font-weight: 300;
}

.menu {
    font-size: 14px;
}

    .menu p:last-child {
        margin-bottom: 0px;
    }

@media (min-width: 50px) {
    .menu.affix {
        position: relative;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .menu.affix {
        position: fixed;
        width: 157.5px;
    }

    .menu.affix-top {
        width: 157.5px;
    }
}

@media (min-width: 992px) {
    .menu.affix {
        position: fixed;
        width: 212.5px;
    }

    .menu.affix-top {
        width: 212.5px;
    }
}

@media (min-width: 1200px) {
    .menu.affix {
        position: fixed;
        width: 262.5px;
    }

    .menu.affix-top {
        width: 262.5px;
    }
}

/*******************************************************************/
/**************************** Padding ******************************/
/*******************************************************************/
.vpadded {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Created for the print friendly reports*/
.vthinpadding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.hpadded {
    padding-left: 15px;
    padding-right: 15px;
}

.toppadded {
    padding-top: 15px;
}

.padded {
    padding: 15px;
}

.padded-left-5percent {
    padding-left: 5%;
}

.padded-left-10percent {
    padding-left: 10%;
}

.padded-left-15percent {
    padding-left: 15%;
}

.padded-left-20percent {
    padding-left: 20%;
}

li {
    list-style: none;
}

.activehelplink {
    color: #0094ff;
    cursor: pointer;
}

.nopadding {
    padding: 0px !important;
}

.novpadding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.nohpadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bottomBorder {
    border-bottom: 1px solid #eaeaea;
}


.row .control-label {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    /*padding-right: 0px !important;
    padding-left: 0px !important;*/
}

.nobold {
    font-weight: normal !important;
}

.form .btn {
    margin-top: 4px !important;
}

.form .col-xs-1, .form .col-sm-1, .form .col-md-1, .form .col-lg-1,
.form .col-xs-2, .form .col-sm-2, .form .col-md-2, .form .col-lg-2,
.form .col-xs-3, .form .col-sm-3, .form .col-md-3, .form .col-lg-3,
.form .col-xs-4, .form .col-sm-4, .form .col-md-4, .form .col-lg-4,
.form .col-xs-5, .form .col-sm-5, .form .col-md-5, .form .col-lg-5,
.form .col-xs-6, .form .col-sm-6, .form .col-md-6, .form .col-lg-6,
.form .col-xs-7, .form .col-sm-7, .form .col-md-7, .form .col-lg-7,
.form .col-xs-8, .form .col-sm-8, .form .col-md-8, .form .col-lg-8,
.form .col-xs-9, .form .col-sm-9, .form .col-md-9, .form .col-lg-9,
.form .col-xs-10, .form .col-sm-10, .form .col-md-10, .form .col-lg-10,
.form .col-xs-11, .form .col-sm-11, .form .col-md-11, .form .col-lg-11,
.form .col-xs-12, .form .col-sm-12, .form .col-md-12, .form .col-lg-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

/* Used to center the slider in a row */
.ui-slider-horizontal {
    margin: 13px 0 !important;
}

/* Used to put form elements inline */
.form-control.inline {
    display: inline !important;
}

/* Used to put form elements inline */
.form-control.nowrap {
    display: inline !important;
    white-space: nowrap !important;
}

/* Created for the print friendly reports*/
.no-bot-margin {
    margin-bottom: 0px !important;
}


/* Used for the calendar printout */
.night-a {
    color: blue;
    font-style: italic;
}

.night-b {
    color: green;
    border: 1px solid black;
}

.calendar .col-xs-4 {
    padding: 5px !important;
}

.calendar .panel {
    margin-bottom: 5px !important;
}

.calendar .panel-heading {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    letter-spacing: 1px;
}

.calendar .table > tbody > tr > td {
    padding: 2px 8px 2px 8px !important;
}

.fa-map-marker{
	color: #428bca;
}

.fa-youtube-square {
    color: #428bca !important;
    cursor: pointer;
}

.navbar-brand {
    font-size: 24px;
    line-height: 21px;
}

a:hover .fa-leaf {
    color: #8CC739;
}

a .fa-leaf {
    color: #218559;
}

.fa-check {
	color: #3d94c0;
}

.fa-6x {font-size: 6em;}
.fa-6-4x {font-size: 6.4em;} /* Used to get the Quick Estimate Jet the perfect size so bottom of panels line up */
.fa-7x {font-size: 7em;}
.fa-8x {font-size: 8em;}
.fa-9x {font-size: 9em;}
.fa-10x {font-size: 10em;}
.fa-11x {font-size: 11em;}
.fa-12x {font-size: 12em;}
.fa-13x {font-size: 13em;}

.featurefont {
    line-height: 1.5em;
    color: #696969;
    font-size: 15px;
}

.featurefontlarge {
	line-height: 1.5em; 
	color: #696969; 
	font-size: 24px;
}

.panel-body.gray {
	background-color: #AAA !important;
}

/* This prevents an item from printing */
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}